# Module 2 Assignment 2


**Dataset Overview**:

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data.

- `Invoice id` : Computer generated sales slip invoice identification number
- `Branch`: Branch of supercenter (3 branches are available identified by A, B and C).
- `City`: Location of supercenters
- `Customer type`: Type of customers, recorded by Members for customers using member card and Normal for without member card.
- `Gender`: Gender type of customer
- `Product line`: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
- `Unit price`: Price of each product in $
- `Quantity`: Number of products purchased by customer
- `Tax`: 5% tax fee for customer buying
- `Total`: Total price including tax
- `Date`: Date of purchase (Record available from January 2019 to March 2019)
- `Time`: Purchase time (10am to 9pm)
- `Payment`: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
- `COGS`: Cost of goods sold
- `Gross margin percentage`: Gross margin percentage
- `Gross income`: Gross income
- `Rating`: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)


### Exercise 1: Loading and Inspecting Data

1. Load the dataset into a Pandas DataFrame.
2. Display the first 10 rows of the DataFrame.
3. Show a summary of the DataFrame, including column data types and non-null values.
4. Check mean and median of the `Total` column and max and min of the `Unit price` column and print them.

---

In [2]:
import pandas as pd

# Load the dataset into a Pandas DataFrame.
# TODO

In [3]:
# Display the first 10 rows of the DataFrame.
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

In [4]:
# Show a summary of the DataFrame, including column data types and non-null values.
# TODO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [5]:
# Check mean and median of the 'Total' column and max and min of the 'Unit price' column and print them.
# TODO

Mean Total: 322.966749, Median Total: 253.848
Max Unit Price: 99.96, Min Unit Price: 10.08


### Exercise 2: Data Access and Selection

1. Access the `City` column and display the first 5 values.
2. Get the unique values of the `City` column.
3. Access `Product line` and `Unit price` columns.
4. Use `.iloc` to select the row at index 15.
5. Use `.iloc` to select the first 3 rows and all columns.
6. Use `.iloc` to select the first 5 rows and the first 3 columns
7. Use `.loc` to select the first 11 rows and the columns from `Product line`, `Unit price`, and `Total`.

---

In [6]:
# Access the `City` column and display the first 5 values.
# TODO

0       Yangon
1    Naypyitaw
2       Yangon
3       Yangon
4       Yangon
Name: City, dtype: object

In [7]:
# Get the unique values of the `City` column.
# TODO

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [8]:
# Extract `Product line` and `Unit price` columns.
# TODO

               Product line  Unit price
0         Health and beauty       74.69
1    Electronic accessories       15.28
2        Home and lifestyle       46.33
3         Health and beauty       58.22
4         Sports and travel       86.31
..                      ...         ...
995       Health and beauty       40.35
996      Home and lifestyle       97.38
997      Food and beverages       31.84
998      Home and lifestyle       65.82
999     Fashion accessories       88.34

[1000 rows x 2 columns]

In [9]:
# Row at index 15 using `iloc`
# TODO

Invoice ID                       299-46-1805
Branch                                     B
City                                Mandalay
Customer type                         Member
Gender                                Female
Product line               Sports and travel
Unit price                             93.72
Quantity                                   6
Tax 5%                                28.116
Total                                590.436
Date                               1/15/2019
Time                                   16:19
Payment                                 Cash
cogs                                  562.32
gross margin percentage             4.761905
gross income                          28.116
Rating                                   4.5
Name: 15, dtype: object

In [10]:
# Use `.iloc` to select the first 3 rows and all columns.
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

In [11]:
# Select the first 5 rows and the first 3 columns
# TODO

  Branch       City Customer type
0      A     Yangon        Member
1      C  Naypyitaw        Normal
2      A     Yangon        Normal
3      A     Yangon        Member
4      A     Yangon        Normal

In [12]:
# Select the first 11 rows and the columns from 'Product line', 'Unit price', and 'Total'.
# TODO

              Product line  Unit price     Total
0        Health and beauty       74.69  548.9715
1   Electronic accessories       15.28   80.2200
2       Home and lifestyle       46.33  340.5255
3        Health and beauty       58.22  489.0480
4        Sports and travel       86.31  634.3785
5   Electronic accessories       85.39  627.6165
6   Electronic accessories       68.84  433.6920
7       Home and lifestyle       73.56  772.3800
8        Health and beauty       36.26   76.1460
9       Food and beverages       54.84  172.7460
10     Fashion accessories       14.48   60.8160

### Exercise 3: Adding New Columns

1. Add a new column `Cost per item` by dividing the `Total` by `Quantity`.
2. Add a new column `Revenue` by multiplying `Quantity` and `Unit price`.
3. Add a new column `High spender` where the value is `True` if the `Total` is greater than 200, otherwise `False`.

---

In [13]:
# Add a new column `Cost per item` by dividing the `Total` by `Quantity`.
# TODO

In [14]:
# Add a new column `Revenue` to the DataFrame by multiplying `Quantity` and `Unit price`.
# TODO

In [15]:
# Add a new column `High spender` where the value is `True` if the `Total` is greater than 200, otherwise `False`.
# TODO

In [16]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Cost per item,Revenue,High spender
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,78.4245,522.83,True
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,16.0440,76.40,False
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,48.6465,324.31,True
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,61.1310,465.76,True
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,90.6255,604.17,True

### Exercise 4 (Challenge): 

- Add a new column named `Rating category` with values 'Poor', 'Average', 'Good', and 'Excellent' based on `Rating`.

For this question, you will need to do a self-study on the `cut()` method from the Pandas library. 
Discuss it in your group and try to help each other understand its functionality well.

Use these bins and labels for the categories.
1. bins = [0, 4, 6, 8, 10]
2. As catogery labels, use these: 'Poor', 'Average', 'Good', and 'Excellent'

---

In [17]:
# Define the bins and labels
# TODO

# Using the cut() method to create a new column 'Rating category'
# TODO

In [18]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,...,Time,Payment,cogs,gross margin percentage,gross income,Rating,Cost per item,Revenue,High spender,Rating category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,...,13:08,Ewallet,522.83,4.761905,26.1415,9.1,78.4245,522.83,True,Excellent
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,...,10:29,Cash,76.40,4.761905,3.8200,9.6,16.0440,76.40,False,Excellent
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,...,13:23,Credit card,324.31,4.761905,16.2155,7.4,48.6465,324.31,True,Good
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,20:33,Ewallet,465.76,4.761905,23.2880,8.4,61.1310,465.76,True,Excellent
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,...,10:37,Ewallet,604.17,4.761905,30.2085,5.3,90.6255,604.17,True,Average


### Exercise 5: Renaming and Dropping Columns

1. Rename the `cogs` to `COGS`, `gross income` to `Gross income`, `gross margin percentage` to `Gross margin percentage`, and `Tax 5%` to `Tax`.
2. Drop the `COGS` column from the DataFrame and display the first 5 rows of the updated DataFrame.

---

In [19]:
# Rename the `cogs` to `COGS`, `gross income` to `Gross income`, `gross margin percentage` to `Gross margin percentage`, and `Tax 5%` to `Tax`.
# TODO

In [20]:
# Drop the `COGS` column from the DataFrame and display the first 5 rows of the updated DataFrame.
# TODO

In [21]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1,78.4245,522.83,True,Excellent
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6,16.0440,76.40,False,Excellent
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4,48.6465,324.31,True,Good
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4,61.1310,465.76,True,Excellent
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3,90.6255,604.17,True,Average


### Exercise 6: Conditional Selection and Comparision Operators

1. Show all the transactions where `Gender` is "Female".
2. Show the details of the transaction with Invoice ID "750-67-8428".
3. Using loc method, show the transactions where `Payment` is made by Credit card.
4. Using loc method, show the `Total` column of the transactions where `Branch` is "A".
5. Using loc method, show only the columns `Customer type` and `Total` of the transactions where `Product line` is "Health and beauty".

---

In [22]:
# Show all the transactions where `Gender` is "Female".
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1,78.4245,522.83,True,Excellent
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6,16.0440,76.40,False,Excellent
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,4.761905,20.6520,5.8,72.2820,413.04,True,Average
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,4.761905,36.7800,8.0,77.2380,735.60,True,Good
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,4.761905,3.6260,7.2,38.0730,72.52,False,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,4.761905,14.1400,4.5,59.3880,282.80,True,Average
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,4.761905,38.3000,6.0,80.4300,766.00,True,Average
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,4.761905,3.0475,5.9,63.9975,60.95,False,Average
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,4.761905,48.6900,4.4,102.2490,973.80,True,Average
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6,92.7570,618.38,True,Good

In [23]:
# Show the details of the transaction with Invoice ID `692-92-5582`.
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.226,172.746,2/20/2019,13:27,Credit card,4.761905,8.226,5.9,57.582,164.52,False,Average

In [24]:
# Using loc method, show the transactions where `Payment` is made by Credit card.
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4,48.6465,324.31,True,Good
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,4.761905,3.6260,7.2,38.0730,72.52,False,Good
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,4.761905,8.2260,5.9,57.5820,164.52,False,Average
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,4.761905,24.1255,4.6,72.3765,482.51,True,Average
17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,1/1/2019,10:39,Credit card,4.761905,21.7830,6.9,76.2405,435.66,True,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,156-20-0370,B,Mandalay,Normal,Female,Electronic accessories,25.45,1,1.2725,26.7225,3/10/2019,18:10,Credit card,4.761905,1.2725,5.1,26.7225,25.45,False,Average
979,151-33-7434,B,Mandalay,Normal,Female,Food and beverages,67.77,1,3.3885,71.1585,2/4/2019,20:43,Credit card,4.761905,3.3885,6.5,71.1585,67.77,False,Good
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,4.761905,24.8000,6.2,65.1000,496.00,True,Good
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,4.761905,30.1480,8.4,79.1385,602.96,True,Excellent
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,4.761905,14.1400,4.5,59.3880,282.80,True,Average

In [25]:
# Using loc method, show the `Total` column of the transactions where `Branch` is "A".
# TODO

0      548.9715
2      340.5255
3      489.0480
4      634.3785
6      433.6920
         ...
990    296.9400
992    121.8630
997     33.4320
998     69.1110
999    649.2990
Name: Total, Length: 340, dtype: float64

In [26]:
# Using loc method, show only the columns `Customer type` and `Total` of the transactions where `Product line` is "Health and beauty".
# TODO

    Customer type     Total
0          Member  548.9715
3          Member  489.0480
8          Member   76.1460
14         Normal  749.4900
16         Member  506.6355
..            ...       ...
983        Normal  734.7060
986        Normal   30.9960
987        Member  520.8000
989        Member  633.1080
995        Normal   42.3675

[152 rows x 2 columns]


### Exercise 7: Advanced Filtering and Logical Operators

1. Filter rows where `Payment` is "Credit card" and `Rating` is greater than 7 and create a dataframe called filtered_1.
2. Filter rows where `Product line` is "Electronic accessories" or `Branch` is "A" and create a dataframe called filtered_2. 
3. Filter rows where `Total` is greater than 200 and `Payment` is "Credit card" and create a dataframe called high_total_credit. 
4. Filter rows where `High spender` is "True" and `Payment` is "Ewallet" and create a dataframe called high_spenders_ewallet. 
5. Using loc method, show the transactions where `City` is "Yangon" and `Branch` is "A".
6. Using loc method, show the transactions where `Customer type` is "Member" and `Gender` is "Male".
7. Using loc method, show the transactions where `Quantity` is greater than 8 and `Gross income` is less than 50 and `Payment` is not "Cash".
8. Using loc methods, show the transaction where `Unit price` is between 20 and 25 (inclusive) and `Quantity` is 7. Learn more about the `between` method.
9. Using loc method, show the transactions where `Product line` is "Fashion accessories" and `Quantity` is greater than 5. Show only the columns `Total` and `Payment`.
10. Using loc method, show the transactions where `Rating` is greater or equal to 9 and `Gender` is "Female". Show only the columns `Branch` and `Rating`.

---

In [27]:
# Filter rows where `Payment` is "Credit card" and `Rating` is greater than 7 and create a dataframe called filtered_1.
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4,48.6465,324.31,True,Good
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,4.761905,3.6260,7.2,38.0730,72.52,False,Good
18,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,172.2105,1/21/2019,18:00,Credit card,4.761905,8.2005,8.6,57.4035,164.01,False,Excellent
25,227-03-5010,A,Yangon,Member,Female,Home and lifestyle,52.59,8,21.0360,441.7560,3/22/2019,19:20,Credit card,4.761905,21.0360,8.5,55.2195,420.72,True,Excellent
27,189-17-4241,A,Yangon,Normal,Female,Fashion accessories,87.67,2,8.7670,184.1070,3/10/2019,12:17,Credit card,4.761905,8.7670,7.7,92.0535,175.34,False,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,593-08-5916,A,Yangon,Normal,Female,Fashion accessories,15.50,1,0.7750,16.2750,3/19/2019,15:23,Credit card,4.761905,0.7750,7.4,16.2750,15.50,False,Good
967,195-06-0432,A,Yangon,Member,Male,Home and lifestyle,81.01,3,12.1515,255.1815,1/13/2019,12:55,Credit card,4.761905,12.1515,9.3,85.0605,243.03,True,Excellent
969,214-30-2776,B,Mandalay,Member,Female,Electronic accessories,34.49,5,8.6225,181.0725,3/11/2019,19:44,Credit card,4.761905,8.6225,9.0,36.2145,172.45,False,Excellent
970,746-04-1077,B,Mandalay,Member,Female,Food and beverages,84.63,10,42.3150,888.6150,1/1/2019,11:36,Credit card,4.761905,42.3150,9.0,88.8615,846.30,True,Excellent
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,4.761905,30.1480,8.4,79.1385,602.96,True,Excellent

In [28]:
# Filter rows where `Product line` is "Electronic accessories" or `Branch` is "A" and create a dataframe called filtered_2. 
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1,78.4245,522.83,True,Excellent
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6,16.0440,76.40,False,Excellent
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4,48.6465,324.31,True,Good
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4,61.1310,465.76,True,Excellent
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3,90.6255,604.17,True,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,4.761905,5.8030,8.8,60.9315,116.06,False,Excellent
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,4.761905,3.0475,5.9,63.9975,60.95,False,Average
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,4.761905,1.5920,7.7,33.4320,31.84,False,Good
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,4.761905,3.2910,4.1,69.1110,65.82,False,Average
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6,92.7570,618.38,True,Good

In [29]:
# Filter rows where `Total` is greater than 200 and `Payment` is "Credit card" and create a dataframe called high_total_credit. 
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4,48.6465,324.31,True,Good
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,4.761905,24.1255,4.6,72.3765,482.51,True,Average
17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,1/1/2019,10:39,Credit card,4.761905,21.7830,6.9,76.2405,435.66,True,Good
25,227-03-5010,A,Yangon,Member,Female,Home and lifestyle,52.59,8,21.0360,441.7560,3/22/2019,19:20,Credit card,4.761905,21.0360,8.5,55.2195,420.72,True,Excellent
30,871-79-8483,B,Mandalay,Normal,Male,Fashion accessories,94.13,5,23.5325,494.1825,2/25/2019,19:39,Credit card,4.761905,23.5325,4.8,98.8365,470.65,True,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,195-06-0432,A,Yangon,Member,Male,Home and lifestyle,81.01,3,12.1515,255.1815,1/13/2019,12:55,Credit card,4.761905,12.1515,9.3,85.0605,243.03,True,Excellent
970,746-04-1077,B,Mandalay,Member,Female,Food and beverages,84.63,10,42.3150,888.6150,1/1/2019,11:36,Credit card,4.761905,42.3150,9.0,88.8615,846.30,True,Excellent
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,4.761905,24.8000,6.2,65.1000,496.00,True,Good
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,4.761905,30.1480,8.4,79.1385,602.96,True,Excellent
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,4.761905,14.1400,4.5,59.3880,282.80,True,Average

In [30]:
# Filter rows where `High spender` is "True" and `Payment` is "Ewallet" and create a dataframe called high_spenders_ewallet. 
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1,78.4245,522.83,True,Excellent
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4,61.1310,465.76,True,Excellent
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3,90.6255,604.17,True,Average
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,4.761905,29.8865,4.1,89.6595,597.73,True,Average
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,4.761905,20.6520,5.8,72.2820,413.04,True,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,139-32-4183,A,Yangon,Member,Female,Sports and travel,97.48,9,43.8660,921.1860,3/14/2019,14:19,Ewallet,4.761905,43.8660,7.4,102.3540,877.32,True,Good
985,374-38-5555,B,Mandalay,Normal,Female,Fashion accessories,63.71,5,15.9275,334.4775,2/7/2019,19:30,Ewallet,4.761905,15.9275,8.5,66.8955,318.55,True,Excellent
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,4.761905,41.1700,4.3,86.4570,823.40,True,Average
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,4.761905,38.3000,6.0,80.4300,766.00,True,Average
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,4.761905,48.6900,4.4,102.2490,973.80,True,Average

In [31]:
# Using loc method, show the transactions where `City` is "Yangon" and `Branch` is "A".
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1,78.4245,522.83,True,Excellent
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4,48.6465,324.31,True,Good
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4,61.1310,465.76,True,Excellent
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3,90.6255,604.17,True,Average
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,4.761905,20.6520,5.8,72.2820,413.04,True,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,4.761905,14.1400,4.5,59.3880,282.80,True,Average
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,4.761905,5.8030,8.8,60.9315,116.06,False,Excellent
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,4.761905,1.5920,7.7,33.4320,31.84,False,Good
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,4.761905,3.2910,4.1,69.1110,65.82,False,Average
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,4.761905,30.9190,6.6,92.7570,618.38,True,Good

In [32]:
# Using loc method, show the transactions where `Customer type` is "Member" and `Gender` is "Male".
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4,61.1310,465.76,True,Excellent
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,4.761905,5.1020,6.8,26.7855,102.04,False,Good
20,300-71-4605,C,Naypyitaw,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,2/25/2019,11:24,Ewallet,4.761905,21.5100,4.8,90.3420,430.20,True,Average
24,549-59-1358,A,Yangon,Member,Male,Sports and travel,88.63,3,13.2945,279.1845,3/2/2019,17:36,Ewallet,4.761905,13.2945,6.0,93.0615,265.89,True,Average
31,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,4.761905,35.1315,4.5,81.9735,702.63,True,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,728-47-9078,C,Naypyitaw,Member,Male,Food and beverages,59.59,4,11.9180,250.2780,1/19/2019,12:46,Cash,4.761905,11.9180,9.8,62.5695,238.36,True,Excellent
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,4.761905,24.8000,6.2,65.1000,496.00,True,Good
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,4.761905,41.1700,4.3,86.4570,823.40,True,Average
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,4.761905,30.1480,8.4,79.1385,602.96,True,Excellent
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,4.761905,1.5920,7.7,33.4320,31.84,False,Good

In [33]:
# Using loc method, show the transactions where `Quantity` is greater than 8 and `Gross income` is less than 50 and `Payment` is not "Cash".
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,4.761905,36.7800,8.0,77.2380,735.60,True,Good
13,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,2/7/2019,16:48,Ewallet,4.761905,21.5950,8.2,45.3495,431.90,True,Excellent
37,272-65-1806,A,Yangon,Normal,Female,Electronic accessories,60.88,9,27.3960,575.3160,1/15/2019,17:17,Ewallet,4.761905,27.3960,4.7,63.9240,547.92,True,Average
46,370-41-7321,B,Mandalay,Member,Male,Health and beauty,56.69,9,25.5105,535.7205,2/27/2019,17:24,Credit card,4.761905,25.5105,8.4,59.5245,510.21,True,Excellent
47,727-46-3608,B,Mandalay,Member,Female,Food and beverages,20.01,9,9.0045,189.0945,2/6/2019,15:47,Ewallet,4.761905,9.0045,4.1,21.0105,180.09,False,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,139-32-4183,A,Yangon,Member,Female,Sports and travel,97.48,9,43.8660,921.1860,3/14/2019,14:19,Ewallet,4.761905,43.8660,7.4,102.3540,877.32,True,Good
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,4.761905,41.1700,4.3,86.4570,823.40,True,Average
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,4.761905,38.3000,6.0,80.4300,766.00,True,Average
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,4.761905,8.7450,6.6,18.3645,174.90,False,Good
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,4.761905,48.6900,4.4,102.2490,973.80,True,Average

In [34]:
# Using loc methods, show the transaction where `Unit price` is between 20 and 25 (inclusive) and `Quantity` is 7. Learn more about the `between` method.
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
92,873-51-0671,A,Yangon,Member,Female,Sports and travel,21.98,7,7.6930,161.5530,1/10/2019,16:42,Ewallet,4.761905,7.6930,5.1,23.0790,153.86,False,Average
177,139-52-2867,C,Naypyitaw,Normal,Female,Fashion accessories,22.51,7,7.8785,165.4485,2/13/2019,10:50,Credit card,4.761905,7.8785,4.8,23.6355,157.57,False,Average
591,788-07-8452,C,Naypyitaw,Member,Female,Home and lifestyle,24.24,7,8.4840,178.1640,1/27/2019,17:38,Ewallet,4.761905,8.4840,9.4,25.4520,169.68,False,Excellent
870,873-14-6353,A,Yangon,Member,Male,Food and beverages,24.82,7,8.6870,182.4270,2/16/2019,10:33,Credit card,4.761905,8.6870,7.1,26.0610,173.74,False,Good

In [35]:
# Using loc method, show the transactions where `Product line` is "Fashion accessories" and `Quantity` is greater than 5. Show only the columns `Total` and `Payment`.
# TODO

        Total      Payment
13   453.4950      Ewallet
43   829.0800         Cash
47   189.0945      Ewallet
50   671.7900         Cash
70   939.5400  Credit card
..        ...          ...
949  222.0120      Ewallet
956  477.1305         Cash
959  932.3370         Cash
970  888.6150  Credit card
977  167.5800      Ewallet

[81 rows x 2 columns]

In [36]:
# Using loc method, show the transactions where `Rating` is greater or equal to 9 and `Gender` is "Female". Show only the columns `Branch` and `Rating`.
# TODO

    Branch  Rating
0        A     9.1
1        C     9.6
28       B     9.6
45       B     9.5
60       C    10.0
..     ...     ...
931      C     9.5
934      B     9.8
968      A     9.5
969      B     9.0
970      B     9.0

[83 rows x 2 columns]

#### Exercise 8: Challenge
1. Learn how `nlargest()`, `nsmallest()`, and `isin()` methods work in pandas.
2. Using these methods filter and show transactions where `Payment` is "Credit card" and `Total` is in the top 10.
3. Show transactions on "January 28 2019", where `Branch` is "A" or "B"

---

In [37]:
# Transactions where `Payment` is "Credit card" and `Total` is in the top 10
# TODO

# Show transactions on "January 28, 2019" where `Branch` is "A" or "B"
# TODO

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax,Total,Date,Time,Payment,Gross margin percentage,Gross income,Rating,Cost per item,Revenue,High spender,Rating category
31,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,4.761905,35.1315,4.5,81.9735,702.63,True,Average
445,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,4.761905,0.9575,9.5,20.1075,19.15,False,Excellent
505,726-29-6793,A,Yangon,Member,Male,Electronic accessories,24.18,8,9.6720,203.1120,1/28/2019,20:54,Ewallet,4.761905,9.6720,9.8,25.3890,193.44,True,Excellent
826,222-42-0244,B,Mandalay,Member,Female,Health and beauty,72.11,9,32.4495,681.4395,1/28/2019,13:53,Credit card,4.761905,32.4495,7.7,75.7155,648.99,True,Good
872,544-55-9589,B,Mandalay,Member,Female,Electronic accessories,21.43,10,10.7150,225.0150,1/28/2019,11:51,Cash,4.761905,10.7150,6.2,22.5015,214.30,True,Good
895,699-88-1972,B,Mandalay,Normal,Male,Health and beauty,99.16,8,39.6640,832.9440,1/28/2019,17:47,Credit card,4.761905,39.6640,4.2,104.1180,793.28,True,Average
903,865-41-9075,A,Yangon,Normal,Male,Food and beverages,11.53,7,4.0355,84.7455,1/28/2019,17:35,Cash,4.761905,4.0355,8.1,12.1065,80.71,False,Excellent
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,4.761905,30.1480,8.4,79.1385,602.96,True,Excellent